In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/Reviews.csv')
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [5]:
df.shape

(568454, 10)

In [6]:
df = df[['ProductId', 'Score', 'Summary', 'Text', 'Time']]

In [7]:
df.head()

,ProductId,Score,Summary,Text,Time
0,B001E4KFG0,5,Good Quality Dog Food,I have bought several of the Vitality canned d...,1303862400
1,B00813GRG4,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,1346976000
2,B000LQOCH0,4,"""Delight"" says it all",This is a confection that has been around a fe...,1219017600
3,B000UA0QIQ,2,Cough Medicine,If you are looking for the secret ingredient i...,1307923200
4,B006K2ZZ7K,5,Great taffy,Great taffy at a great price. There was a wid...,1350777600

In [8]:
df.shape

(568454, 5)

In [9]:
# Remove rows with missing ProductId, Score, Summary or Text
df.dropna(subset=['ProductId', 'Score', 'Summary', 'Text'], inplace=True)

In [10]:
df.shape

(568427, 5)

In [11]:
# Remove rows with empty text or summary (just spaces)
df = df[(df['Summary'].str.strip() != '') & (df['Text'].str.strip() != '')]

In [12]:
df.shape

(568427, 5)

In [13]:
# Save cleaned data for MapReduce or sentiment analysis
df.to_csv("cleaned_reviews.tsv", sep='\t', index=False, header=False)

In [14]:
# Test datasets
df.head(10).to_csv("mapreduce_input_test.txt", sep='\t', index=False, header=False)
df.head(10).to_csv("cleaned_reviews_test.tsv", sep='\t', index=False)